<div class="game-card mdl-card mdl-shadow--2dp">
  <div class="game-card__players">
    <h3 class={{this.playerxClass}}>{{@playerx}}</h3> 
    <span class="game-card__versus">vs</span>
    <h3 class={{this.playeroClass}}>{{@playero}}</h3>
  </div>
  <h5>{{this.date}}</h5>
</div>